<div class="content">
    <div class="recommended-title-holder">
        <span>Recommended Games</span>
        <button class="view-all-button">View All</button>
    </div>

    <div class="recommended-games-holder">
        <button (click)="changeGame('previous')">
            <svg width="15" height="30">
                <use xlink:href="#arrow-icon"></use>
            </svg>
        </button>

        <div class="recommended-games" [@fadeAnimation]="fadeState">
            <img class="game-header_image" [src]="header_image" />

            <div class="game-info-holder">
                <span class="game-title">{{ currentGame['name'] }}</span>
                <div class="screenshots-holder">
                    <div class="screenshot" 
                         *ngFor="let image of screenshots; let i = index"
                         [ngStyle]="{'background-image': 'url(' + (image || '../../assets/No-Image-Available.png') + ')'}">
                    </div>
                </div>                  
                <span class="recommendation-justification">
                    <span class="recommended-word">Recommended</span> because you played games tagged with
                </span>                  
                <div #tagsHolder class="tags-holder">
                    <ng-container *ngIf="tagsExist; else noTags"></ng-container>
                    <ng-template #noTags>
                        <p class="recommendation-justification">No tags available at this time</p>
                    </ng-template>
                </div>
                  
                <span class="price">{{ price }}</span>
            </div>
        </div>

        <button class="right-arrow" (click)="changeGame('next')">
            <svg width="15" height="30">
                <use xlink:href="#arrow-icon"></use>
            </svg>
        </button>
    </div>
</div>
