<div class="content">
    <div class="recommended-title-holder">
        <span>Recommended Games</span>
        <button class="view-all-button">View All</button>
    </div>

    <div class="recommended-games-holder">
        <button>
            <svg width="15" height="30">
                <use xlink:href="#arrow-icon"></use>
            </svg>
        </button>

        <div class="recommended-games">
            <img class="game-thumbnail" 
                src="../../assets/No-Image-Available.png"
            />

            <div class="game-info-holder">
                <span class="game-title">Super Duper Long Title of Game - The Best Title</span>
                <div class="screenshots-holder">
                    <div class="screenshot"></div>
                    <div class="screenshot"></div>
                    <div class="screenshot"></div>
                    <div class="screenshot"></div>
                </div>
                <span class="recommendation-justification">Recommended because you played games tagged with</span>
                <div #tagsHolder class="tags-holder"></div>
                <span class="price">Price</span>
            </div>
        </div>

        <button class="right-arrow">
            <svg width="15" height="30">
                <use xlink:href="#arrow-icon"></use>
            </svg>
        </button>
    </div>
</div>
