
<div class="page-layout">
    <span class="sign-in-text">
        Enter A Steam ID For <br>Personalized Recommendations
    </span>
    <div class="content-holder">
        <label>
            Steam ID
        </label>

        <form (ngSubmit)="onSubmit()" #steamIdForm="ngForm">
            <div class="steamid-holder">
                <input
                    type="text"
                    id="steamId"
                    name="steamId"
                    [(ngModel)]="steamId"
                    placeholder="Enter ID"
                    required
                />

                <!-- Show error message if input is invalid -->
                <span *ngIf="isInvalid" class="error-text">
                    ID must contain only numbers!
                </span>
            </div>
            <button
                type="submit"
                [disabled]="loading || !steamIdForm.valid"
                [ngClass]="{ 'loading': loading }"
            >
                <span *ngIf="!loading">Get Recommendations</span>
                <span *ngIf="loading">Loading...</span>
            </button>
        </form>

        <div class="link-holder">
            <a href="https://help.steampowered.com/en/faqs/view/2816-BE67-5B69-0FEC" target="_blank">Don't know your ID?</a>
        </div>
    </div>
</div>


<div *ngIf="loading" class="loading-overlay">
    <div class="spinner"></div>
</div> 