.page-layout {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}
.sign-in-text {
  text-align: center;
  font-size: clamp(var(--font-size-title-min), 2.5vw, var(--font-size-title));
  margin-bottom: 4rem;
}
.content-holder {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 20vh;
  width: clamp(14rem, 20vw, 24rem);
}
.steamid-holder {
  font-size: var(--font-size-large);
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  width: 100%;
}
.error-text {
  color: red;
  margin: 4px;
}
.link-holder{
  text-align: center;
  width: 100%;
}

input {
  border: 2px solid #303348;
  font-size: var(--font-size-large);
  padding: 8px;
  color: white !important;
  outline: none;
  background-color: transparent;
  border-radius: var(--border-radius);
}
button {
  font-size: var(--font-size-large);
  min-height: 2.5rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  background: var(--accent-color);
}
button:hover {
  border: 1px solid white;
}
button:disabled {
  background-color: #303348;
  cursor: not-allowed;
  border: none;
}
a {
  margin: 6px;
  color: white;
}
form {
  width: 100%;
}







.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
