
.bottom-info-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top: 2px solid #19212E;
  width: 80vw;
  height: 50px;
  font-size: var(--font-size-standard);
  text-wrap: nowrap;
}
.link {
  padding: 0.2rem;
}
.about-button {
  font-size: var(--font-size-standard);
  background-color: transparent;
}
.about-button:hover {
  text-decoration: underline;
}

