<div class="steam-id-container">
    <h1>Enter Your Steam ID</h1>
    <form (ngSubmit)="onSubmit()" #steamIdForm="ngForm">
        <input
            type="text"
            id="steamId"
            name="steamId"
            [(ngModel)]="steamId"
            placeholder="Enter your Steam ID"
            required
        />
        <button
            type="submit"
            [disabled]="loading || !steamIdForm.valid"
            [ngClass]="{ 'loading': loading }"
        >
            <span *ngIf="!loading">Submit</span>
            <span *ngIf="loading">Loading...</span>
        </button>
    </form>
</div>


<div *ngIf="loading" class="loading-overlay">
    <div class="spinner"></div>
</div> 