
.bottom-info-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top: 2px solid #19212E;
  margin-top: 1rem;
  width: 80vw;
  height: 50px;
  font-size: var(--font-size-standard);
  text-wrap: nowrap;
  color: rgb(128, 145, 162);
}
.link {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  color: rgb(128, 145, 162)
}
.link:hover {
  color: var(--accent-color)
}
.about-button {
  display: block;
  padding: 0;
  padding-left: 0.2rem;
  font-size: var(--font-size-standard);
  background-color: transparent;
  color: rgb(128, 145, 162)
}
.about-button:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

