.nav-bar {
    overflow: hidden;
    height: 5rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}
.logo {
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-filter: drop-shadow(3px 3px 4px #0000003f);
    filter: drop-shadow(3px 3px 4px #0000003f);
}
.text-steam-recommender {
    text-wrap: nowrap;
    text-align: center;
    font-size: var(--font-size-title);
    text-shadow: 3px 3px 2px var(--accent-color);
}
.nav-button-holder {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding: 1rem;
}
button {
    border-radius: var(--border-radius);
    background: var(--accent-color);
    width: clamp(3rem, 8vw, 4.5rem);
    height: 2.5rem;
    box-shadow: 3px 3px 4px 0px #0000003f;
    font-size: clamp(var(--font-size-standard), 2vw, var(--font-size-large));
    font-weight: bold;
    text-wrap: nowrap;
}
button:hover {
    border: 1px solid white;
}
