.content-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 10%;
    padding: 0.5vw;
    font-size: var(--font-size-large);
}
.view-all-button {
    font-size: var(--font-size-large) !important;
    color: var(--accent-color);
    background-color: transparent;
    font-weight: bold;
}
.view-all-button:hover {
    text-decoration: underline;
}

.arrows-and-cards-holder{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.arrows-and-cards-holder button {
    width: 4%;
    height: 4rem;
    background-color: transparent;
    border-radius: var(--border-radius);
}
.right-arrow {
    transform: scaleX(-1);
}

.cards-holder {
    display: flex;
    height: fit-content;
    width: fit-content;
    gap: 1rem;
}

.holder-title {
    font-size: var(--font-size-h1);
}
.view-all-button {
    font-size: var(--font-size-xlarge);
}