
.content {
    margin-top: 1rem !important;
}
@media (max-width: 1280px) {
    
    .game-info-holder .screenshots-holder {
        display: none !important;
    }
    .recommended-games {
        flex-direction: column;
    }
    .view-all-button {
        font-size: var(--font-size-large) !important;
    }
    .recommended-title-holder {
        font-size: var(--font-size-large) !important;
    }
    .game-title {
        font-size: var(--font-size-large) !important;
    }
    .recommendation-justification {
        font-size: var(--font-size-standard) !important;
    }
    .tags-holder {
        max-height: calc(2 * (var(--font-size-small) + var(--border-radius))) !important;
    }
    .tag {
        font-size: var(--font-size-small) !important;
    }
    .price {
        font-size: var(--font-size-standard) !important;
    }
}

/* Screen size up to 720p */
@media (min-width: 1280px) {
    .content {
        height: 27rem;
    }
}

/* Desktop above 1080p */
@media (min-width: 1921px) {
    .content {
        height: 32rem;
    }
}

.recommended-title-holder {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 10%;
    padding: 0.5vw;
    font-size: var(--font-size-h1);
}
.view-all-button {
    font-size: var(--font-size-h1);
    color: var(--accent-color);
    background-color: transparent;
    font-weight: bold;
}
.view-all-button:hover {
    text-decoration: underline;
}
.recommended-games-holder {
    display: flex;
    width: 100%;
    height: 90%;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 4px 4px var(--shadow-color)
}
.recommended-games-holder button {
    width: 4%;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
}
.right-arrow {
    transform: scaleX(-1);
}
.recommended-games {
    display: flex;
    cursor: pointer;
}
.game-header_image {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.game-info-holder {
    display: flex;
    flex-direction: column;
    padding: 0.75vw;
    width: 100%;
    position: relative;
}
.game-title {
    font-size: var(--font-size-h1);
    word-break: break-word; 
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 2;
    line-height: 1.1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.screenshots-holder {
    display: grid;
    padding-top: 1rem;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);    
    gap: 0.5rem; 
    width: 100%; 
}
.screenshot {
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
}
.recommendation-justification {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: var(--font-size-large);
}
.recommended-word {
    color: var(--accent-color);
    font-weight: 600;
}
.tags-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-height: calc(2 * (var(--font-size-standard) + var(--border-radius)));
    overflow: hidden;
}
.tag {
    font-size: var(--font-size-standard);
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    padding: 0.2rem 0.5rem;
}  
.price {
    padding-top: 1rem;
    font-size: var(--font-size-large);
    margin-top: auto;
    align-items: flex-start;
}