.card {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 14rem;
    width: 12rem;
    border-radius: var(--border-radius);
    background: radial-gradient(
        ellipse,
        #2B3663 0%,
        #273157 29%,
        #19212E 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 200%;
    box-shadow: 4px 4px 4px 4px var(--shadow-color);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
}

.header-image {
    width: 100%;
    height: 90px;
    object-fit: cover;
}

.game-info-holder {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: 9rem;
    justify-content: flex-end;
}

.game-name {
    max-height: calc(2.4 * (var(--font-size-large)));
    font-size: var(--font-size-large);
    overflow: hidden;
}
.price {
    padding-top: 0.25rem;
    font-size: var(--font-size-standard);
    align-items: flex-start;
}
.tags-holder {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    gap: 0.5rem;
    max-height: calc(2 * (var(--font-size-standard) + var(--border-radius)));
    overflow: hidden;
}

.tag {
    font-size: var(--font-size-standard);
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    padding: 0.2rem 0.5rem;
}  

