html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222222;
}

app-root {
    height: 100%;
}


button {
    border: none;
    cursor: pointer;
}



a {
    color: #596BEB;
    text-decoration: none;
}
a:hover {
    text-decoration: underline; 
}
