app-root {
    height: 100%;
}
router-outlet + * {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}
:root {
    --font-size-small: 0.5rem;
    --font-size-standard: 0.75rem;
    --font-size-large: 1rem;
    --font-size-title: 2.5rem;

    --accent-color: #596beb;
    --button-hover-color: #6877E2;
    --border-radius: 14px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222222;
    font-family: Inter;
    color: white;
}

a {
    color: #596BEB;
    text-decoration: none;
}
a:hover {
    text-decoration: underline; 
}

button {
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
