/* Make the container take up the full page */
.steam-id-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 80vh;
    background-color: #222222; 
    color: lightgray; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: clamp(1vw, 3vh, 20vw);
}

input {
    padding: clamp(1vw, 1vh, 5vw);
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 1vw;
    font-size: clamp(1vw, 3vh, 20vw);
}

button {
    padding: clamp(1vw, 1vh, 5vw);
    font-size: clamp(1vw, 3vh, 20vw);
    overflow: hidden;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #656565;
    cursor: not-allowed;
}
  

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  