@defer (when isReady) {
    <div class="content" style="gap: 2vh;">
        <app-recommendation-carousel 
            [recommendedGames]="recommendedGames"
            (viewAllClicked)="onViewAllClicked($event)">
        </app-recommendation-carousel>

        <app-game-card-holder 
            [gameList]="recentGames"
            [cardHolderTitle]="'Recently Played'"
            [isRecentTitle]="true">
        </app-game-card-holder>

        @for (tag of tagNames; track tag; let i = $index) {
            <app-game-card-holder 
                [gameList]="tagGames[i]"
                [cardHolderTitle]= "tagNames[i]">
            </app-game-card-holder>
        }
    </div>
} @loading {
    <app-shell-loader></app-shell-loader>
}